body {
  background-color: white;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.init-left-half {
  width: 60%;
  margin-left: 5%;
  margin-top: 8%;
}

.init-half-headline {
  font-family: "Righteous", cursive;

  font-size: 2.8em;
  width: 100%;
}

.main_image {
  height: 450px;
  width: 600px;
  margin-top: 15%;
}
.init-half-paragraph {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
}

.initial-button {
  text-decoration: none;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 10px 30px;

  border-radius: 22px;
  position: relative;

  top: 5%;

  background: linear-gradient(to right, #00cc99 0%, #99ff99 100%);
}

.initial-button:hover {
  background: linear-gradient(to right, #339966 0%, #99ff66 100%);
}

.init-left-half .image-shape-left {
  position: absolute;
  float: left;

  height: 320px;
  width: 320px;

  top: -70px;
  left: -70px;
  opacity: 0.5;
}

.boxes-container {
  display: flex;
}

.boxes {
  width: 50%;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 150px;
  box-shadow: 2px 5px 30px gray;
  border-radius: 15px;

  padding: 40px 30px;

  background-color: whitesmoke;

  border-left: 7px solid #339966;
  /* This is way to use gradient */
  /* border-image: linear-gradient(to bottom, #009933 0%, #99ff66 100%); */
  /* border-image-slice: 1; */
}

.boxes h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 550;
}
.boxes p {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 2em; */
  font-weight: 500;
}

.boxes .box-image {
  height: 150px;
  width: 150px;
}
