body {
  background-color: white;

  margin: 0;
  padding: 0;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.init-left-half {
  width: 60%;
  margin-left: 5%;
  margin-top: 8%;
}

.init-half-headline {
  font-family: "Righteous", cursive;

  font-size: 2.7em;
  width: 100%;
  position: relative;
}

/* CSS animation */
.headline-animation {
  /* added transparent color */
  color: #00000000;
}

.headline-animation::before {
  content: "Impacts";
  position: absolute;
  color: #339966;
  animation: typing 7s linear infinite;
}
@keyframes typing {
  0% {
    content: "I|";
  }
  8% {
    content: "Im|";
  }
  16% {
    content: "Imp|";
  }
  28% {
    content: "Impa|";
  }
  32% {
    content: "Impac|";
  }
  40% {
    content: "Imapct|";
  }
  48% {
    content: "Impacts|";
  }
  48%,
  72% {
    content: "Impacts|";
  }

  76% {
    content: "Impacts|";
  }
  80% {
    content: "Impact|";
  }
  84% {
    content: "Impac|";
  }
  88% {
    content: "Impa|";
  }
  92% {
    content: "Imp|";
  }
  95% {
    content: "Im|";
  }
  97% {
    content: "I|";
  }
  99% {
    content: "|";
  }
  100% {
    content: "|";
  }
}

.main_image {
  height: 450px;
  width: 600px;
  margin-top: 15%;
}
.init-half-paragraph {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
}

.initial-button {
  text-decoration: none;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 10px 30px;

  border-radius: 22px;

  display: inline-block;
  margin-top: 25px;

  background: linear-gradient(to right, #00cc99 0%, #99ff99 100%);
}

.initial-button:hover {
  background: linear-gradient(to right, #339966 0%, #99ff66 100%);
}

.init-left-half .image-shape-left {
  position: absolute;
  float: left;

  height: 320px;
  width: 320px;

  top: -70px;
  left: -70px;
  opacity: 0.5;
}

.boxes-container {
  /* display: flex;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.boxes {
  width: 60%;

  margin-left: 15%;
  /* margin-right: 5%; */
  margin-bottom: 100px;
  box-shadow: 2px 5px 30px gray;
  border-radius: 15px;

  padding: 10px 20px;

  background-color: whitesmoke;

  border-left: 7px solid #339966;
  /* This is way to use gradient */
  /* border-image: linear-gradient(to bottom, #009933 0%, #99ff66 100%); */
  /* border-image-slice: 1; */
}

.boxes h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 550;
}
.boxes p {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 2em; */
  font-weight: 500;
}

.boxes .box-image {
  height: 150px;
  width: 150px;
}

footer {
  width: 100%;
  height: 20vh;

  background: linear-gradient(to right, #00cc99 0%, #99ff99 100%);
}

footer h2 {
  text-align: center;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  padding-top: 15vh;
}
