/* this > means immediate childs of nav ; so it wont other ul nested in lists */
#text-logo {
  display: flex;
  position: absolute;
  font-family: "Pacifico", cursive;
  font-size: 2em;

  margin-left: 5%;

  z-index: 1;
}

#logo-part-2 {
  margin-left: 10px;
  background: linear-gradient(to right, #00cc99 0%, #99ff99 100%);
  color: black;
}

#logo-underline {
  width: 90px;
  /* border: 2px solid ; */
  position: absolute;

  margin-top: 5.85%;
  margin-left: 5%;

  padding: 2px;

  background: linear-gradient(to right, #00cc99 0%, #99ff99 100%);
}

nav > ul {
  display: flex;
  position: fixed;
  margin-top: 35px;

  margin-left: 60%;

  background-color: #f2f2f2;
  border-radius: 22px;

  padding: 0;

  box-shadow: 1px 1px 10px gray;
}

nav ul li {
  list-style: none;
  /* This padding and hover padding must be same to have that sliding effect while hover  */
  padding: 8px 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;

  font-size: 0.9em;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li:hover {
  background: linear-gradient(to right, #00cc99 0%, #99ff99 100%);
  padding: 8px 30px;
  border-radius: 22px;
}

nav > ul > li:hover > ul {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;

  background-color: #f2f2f2;
  border-radius: 15px;

  padding: 10px;
  margin-top: 5px;
  margin-left: -40px;
}
